@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using WarehouseManagmentWEB.Controllers
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.CartonsModel
@{
    ViewBag.Title = "MainPage";
    Layout = "_Layout_Cartons";

    var cartons = Cartons.GetCartons();
    //<td><input id="input_@item.ID_kartonu" type="number" /></td>
    //<td><button onclick="f(@item.ID_kartonu)">click</button></td>
}

<html>
<head>
    <title>MotorcycleScreens Menager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        a {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        li {
            padding: 10px;
        }

        body {
            background-color: #D0D9F6;
            background-size: cover;
            margin: 0;
            font-size: 20px;
            color: black;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 70%;
            margin: 15px;
        }

        td, th {
            border: 1px solid #4E73DF;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #839DE9;
        }
        #textField{
            background: transparent;
        }

    </style>
    <script>
        function f(id) {
            var labelId = "input_" + id;
            const ilosc = document.getElementById(labelId).value;
            document.getElementById("a").innerHTML = ilosc;


        }
    </script>
</head>
<body>



    <table>
        <tr>
            <th>ID_kartonu</th>
            <th>Wysokosc</th>
            <th>Szerokosc</th>
            <th>Glebokosc</th>
            <th>Stan_magazynowy</th>
            <th>Potrzebna_ilosc</th>
        </tr>
        <tr>
            @if (cartons != null)
            {
                foreach (var item in cartons)
                {
                <tr>
                    <td>@item.ID_kartonu </td>
                    <td>@item.Wysokosc </td>
                    <td>@item.Szerokosc </td>
                    <td>@item.Glebokosc </td>
                    <td>@item.Stan_magazynowy </td>
                    <td>@item.Potrzebna_ilosc</td>
                    <td>
                            @using (Html.BeginForm("ChangeQuantity", "App", FormMethod.Post))
                            {

                            <form method="post">
                                <input style="visibility: collapse;" type="number" name="Id" value="@item.ID_kartonu" required>

                                <input id="textField" type="number" name="Ilosc" required>

                                <button type="submit" asp-asp-page-handler="Submit">Zmień</button>
                            </form>

                            }
                    </td>

                </tr>
                }
            }
        </tr>

    </table>
    <p>Dodawanie Kartonu:</p>
    @using (Html.BeginForm("AddCarton", "App", FormMethod.Post))
    {

        <form method="post">
            <input type="number" name="ID_kartonu" required>
            <input type="number" name="Wysokosc" required>
            <input type="number" name="Szerokosc" required>
            <input type="number" name="Glebokosc" required>
            <input type="number" name="Stan_magazynowy" required>

            <button type="submit" asp-asp-page-handler="Submit">Dodaj karton</button>
        </form>

    }
    <p>Usuwanie Kartonu:</p>
    @using (Html.BeginForm("DeleteCarton", "App", FormMethod.Post))
    {

        <form method="post">
            <input type="number" name="ID_kartonu" required>

            <button type="submit" asp-asp-page-handler="Submit">Usuń karton</button>
        </form>

    }

</body>
</html>