@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using WarehouseManagmentWEB.Controllers
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.CartonsModel
@{
    ViewBag.Title = "Warehouse Management";
   

    var cartons = Cartons.GetCartons();
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    
    @*<title>@ViewData["Title"] - WarehouseManagmentWEB</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WarehouseManagmentWEB.styles.css" asp-append-version="true" />
    
}

<html>
<head>
    <title>MotorcycleScreens Menager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        body {
            background-color: #D0D9F6;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #4e73df;
            color: #fff;
        }

        nav {
            background-color: #4e73df;
            color: #fff;
            width: 260px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            overflow-x: hidden;
            padding-top: 20px;
            padding: 30px;
        }

            nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
            }

            nav li {
                margin-bottom: 20px;
            }

            nav a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.2rem;
            }

        .tiles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 50px;
        }

        .tile {
            background-color: #eee;
            width: calc(50% - 20px);
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
            text-decoration: none;
            color: #333;
        }

            .tile:hover {
                background-color: #ccc;
            }

            .tile h2 {
                margin: 0;
                font-size: 1.5rem;
                font-weight: bold;
            }

        footer {
            text-align: center;
            margin-top: 50px;
            padding: 20px;
            background-color: #eee;
            background-color: #A4B7EF;
        }

        .logout {
            margin-right: 20px;
        }

        .options {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

            .options a {
                color: #4e73df;
                margin-right: 20px;
            }

        table {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin: 15px 0;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        td, th {
            border: 1px solid #ddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4E73DF;
            color: #fff;
        }

        #textField {
            background-color: #f2f2f2;
            border: none;
            padding: 5px;
        }

    </style>
    <script>
        function f(id) {
            var labelId = "input_" + id;
            const ilosc = document.getElementById(labelId).value;
            document.getElementById("a").innerHTML = ilosc;


        }
    </script>
</head>
<header>
    <nav>
        <img src="~/images/logo.png" alt="logo" width="120px" height="120px"/>
        <ul>
            <li></li>
            <li><a asp-area="" asp-page="/Shared/MainPage"><img src="~/images/mainpage.png" alt="mainpage" width="35px" height="35px" />   Strona główna</a></li>
            <li><a asp-area="" asp-page="/Shared/Products"><img src="~/images/product.png" alt="product" width="35px" height="35px" />   Produkty</a></li>
            <li><a asp-area="" asp-page="/Shared/Orders"><img src="~/images/orders.png" alt="ordes" width="35px" height="35px" />   Zamówienia</a></li>
            <li><a asp-area="" asp-page="/Shared/Cartons"><img src="~/images/cartons.png" alt="cartons" width="35px" height="35px" />   Kartony</a></li>
            <li><a asp-area="" asp-page="/Shared/Stats"><img src="~/images/stats.png" alt="stats" width="35px" height="35px" />   Statystyki</a></li>
            <li><a asp-area="" asp-page="/Shared/Settings"><img src="~/images/options.png" alt="options" width="35px" height="35px" />   Zarządzaj</a></li>
            <li></li>
            <li></li>
            <li><a asp-area="" asp-page="/Shared/Index"><img src="~/images/logout.png" alt="logout" width="35px" height="35px" />   Wyloguj</a></li>
        </ul>
    </nav>
    <div>
    </div>
</header>
<body>
    <p>Dodawanie Kartonu:</p>
    @using (Html.BeginForm("AddCarton", "App", FormMethod.Post))
    {

        <form method="post">
            <input placeholder="ID kartonu" type="number" name="ID_kartonu" required>
            <input placeholder="Wysokosc" type="number" name="Wysokosc" required>
            <input placeholder="Szerokosc" type="number" name="Szerokosc" required>
            <input placeholder="Glebokosc" type="number" name="Glebokosc" required>
            <input placeholder="Stan magazynowy" type="number" name="Stan_magazynowy" required>

            <button type="submit" asp-asp-page-handler="Submit">Dodaj karton</button>
        </form>

    }
    <p>Usuwanie Kartonu:</p>
    @using (Html.BeginForm("DeleteCarton", "App", FormMethod.Post))
    {

        <form method="post">
            <input placeholder="ID kartonu" type="number" name="ID_kartonu" required>

            <button type="submit" asp-asp-page-handler="Submit">Usuń karton</button>
        </form>

    }


    <table>
        <tr>
            <th>ID_kartonu</th>
            <th>Wysokosc</th>
            <th>Szerokosc</th>
            <th>Glebokosc</th>
            <th>Stan_magazynowy</th>
            <th>Potrzebna_ilosc</th>
        </tr>
        <tr>
            @if (cartons != null)
            {
                foreach (var item in cartons)
                {
                <tr>
                    <td>@item.ID_kartonu </td>
                    <td>@item.Wysokosc </td>
                    <td>@item.Szerokosc </td>
                    <td>@item.Glebokosc </td>
                    <td>@item.Stan_magazynowy </td>
                    <td>@item.Potrzebna_ilosc</td>
                    <td>
                            @using (Html.BeginForm("ChangeQuantity", "App", FormMethod.Post))
                            {

                            <form method="post">
                                <input style="visibility: collapse;" type="number" name="Id" value="@item.ID_kartonu" required>

                                <input id="textField" type="number" name="Ilosc" required>

                                <button type="submit" asp-asp-page-handler="Submit">Zmień</button>
                            </form>

                            }
                    </td>

                </tr>
                }
            }
        </tr>

    </table>

    
  
<footer>
    <p>Strona wykonana przy użyciu technologii Razor Pages</p>
</footer>
</body>
</html>



@*@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using WarehouseManagmentWEB.Controllers
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.CartonsModel
@{
    ViewBag.Title = "MainPage";
    Layout = "_Layout_Cartons";

    var cartons = Cartons.GetCartons();
    //<td><input id="input_@item.ID_kartonu" type="number" /></td>
    //<td><button onclick="f(@item.ID_kartonu)">click</button></td>
}

<html>
<head>
    <title>MotorcycleScreens Menager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        a {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        li {
            padding: 10px;
        }

        body {
            background-color: #D0D9F6;
            background-size: cover;
            margin: 0;
            font-size: 20px;
            color: black;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 70%;
            margin: 15px;
        }

        td, th {
            border: 1px solid #4E73DF;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #839DE9;
        }
        #textField{
            background: transparent;
        }

    </style>
    <script>
        function f(id) {
            var labelId = "input_" + id;
            const ilosc = document.getElementById(labelId).value;
            document.getElementById("a").innerHTML = ilosc;


        }
    </script>
</head>
<body>



    <table>
        <tr>
            <th>ID_kartonu</th>
            <th>Wysokosc</th>
            <th>Szerokosc</th>
            <th>Glebokosc</th>
            <th>Stan_magazynowy</th>
            <th>Potrzebna_ilosc</th>
        </tr>
        <tr>
            @if (cartons != null)
            {
                foreach (var item in cartons)
                {
                <tr>
                    <td>@item.ID_kartonu </td>
                    <td>@item.Wysokosc </td>
                    <td>@item.Szerokosc </td>
                    <td>@item.Glebokosc </td>
                    <td>@item.Stan_magazynowy </td>
                    <td>@item.Potrzebna_ilosc</td>
                    <td>
                            @using (Html.BeginForm("ChangeQuantity", "App", FormMethod.Post))
                            {

                            <form method="post">
                                <input style="visibility: collapse;" type="number" name="Id" value="@item.ID_kartonu" required>

                                <input id="textField" type="number" name="Ilosc" required>

                                <button type="submit" asp-asp-page-handler="Submit">Zmień</button>
                            </form>

                            }
                    </td>

                </tr>
                }
            }
        </tr>

    </table>
    <p>Dodawanie Kartonu:</p>
    @using (Html.BeginForm("AddCarton", "App", FormMethod.Post))
    {

        <form method="post">
            <input type="number" name="ID_kartonu" required>
            <input type="number" name="Wysokosc" required>
            <input type="number" name="Szerokosc" required>
            <input type="number" name="Glebokosc" required>
            <input type="number" name="Stan_magazynowy" required>

            <button type="submit" asp-asp-page-handler="Submit">Dodaj karton</button>
        </form>

    }
    <p>Usuwanie Kartonu:</p>
    @using (Html.BeginForm("DeleteCarton", "App", FormMethod.Post))
    {

        <form method="post">
            <input type="number" name="ID_kartonu" required>

            <button type="submit" asp-asp-page-handler="Submit">Usuń karton</button>
        </form>

    }

</body>
</html>*@