@page
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.ProductsModel
@{
    ViewBag.Title = "MainPage";


    var products = Products.GetProducts();
    //bool avaliable = false;

    var cartons = Cartons.GetCartons();

    /*string Filtr(bool avaliable = false)
        {
        if(avaliable) products =Products.GetAvailableProducts();
        else products = Products.GetProducts();

    return string.Empty;
    }*/
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WarehouseManagmentWEB.styles.css" asp-append-version="true" />

    <style>
        body{
            background-color: #D0D9F6;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #4e73df;
            color: #fff;
            
           
        }

        nav {
            background-color: #4e73df;
            color: #fff;
            width: 260px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            overflow-x: hidden;
            padding-top: 20px;
            padding: 30px;
        }

            nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                
            }

            nav li {
                margin-bottom: 20px;
            }

            nav a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.2rem;
            }

        .tiles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 50px;
        }

        .tile {
            background-color: #eee;
            width: calc(50% - 20px);
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
            text-decoration: none;
            color: #333;
            
        }

            .tile:hover {
                background-color: #ccc;
            }

            .tile h2 {
                margin: 0;
                font-size: 1.5rem;
                font-weight: bold;
            }

        footer {
            text-align: center;
            margin-top: 50px;
            padding: 20px;
            background-color: #eee;
            background-color: #A4B7EF;
        }

        .logout {
            margin-right: 20px;
        }

        .options {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .options a {
                color: #4e73df;
                margin-right: 20px;
        }

        wylogowanie {
            position: absolute;
            bottom: 0;
        }


        body {
            background-color: #D0D9F6;
            background-size: cover;
            margin: 0;
            font-size: 20px;
            color: black;
            
            
        }

        table {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin: 15px 0;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        td, th {
            border: 1px solid #ddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4E73DF;
            color: #fff;
        }

        #textField {
            background-color: #f2f2f2;
            border: none;
            padding: 5px;
        }
    </style>
</head>

<meta charset="UTF-8">

<header>
    <nav>
        <img src="~/images/logo.png" alt="logo" width="120px" height="120px" />
        <ul>
            <li></li>
            <li><a asp-area="" asp-page="/Shared/MainPage"><img src="~/images/mainpage1.png" alt="mainpage" width="35px" height="35px" />   Panel główny</a></li>
            <li><a asp-area="" asp-page="/Shared/Products"><img src="~/images/product1.png" alt="product" width="35px" height="35px" />   Produkty</a></li>
            <li><a asp-area="" asp-page="/Shared/Orders"><img src="~/images/orders1.png" alt="ordes" width="35px" height="35px" />   Zamówienia</a></li>
            <li><a asp-area="" asp-page="/Shared/Cartons"><img src="~/images/cartons1.png" alt="cartons" width="35px" height="35px" />   Kartony</a></li>
            <li><a asp-area="" asp-page="/Shared/Warehouse"><img src="~/images/logistics.png" alt="stats" width="35px" height="35px" />   Magazyn</a></li>
            <li><a asp-area="" asp-page="/Shared/Settings"><img src="~/images/options1.png" alt="options" width="35px" height="35px" />   Zarządzaj</a></li>
            <li></li>
            <li></li>
            <li><a asp-area="" asp-page="/Shared/Index"><img src="~/images/logout1.png" alt="logout" width="35px" height="35px" />   Wyloguj</a></li>
            @*<button id="wylogowanie"><a asp-controller="App" asp-action="Index">Wyloguj</a> </button>*@
        </ul>
    </nav>
    <div>
    </div>
</header>

<body>

    @*
        @using (Html.BeginForm("Wsz", "App", FormMethod.Post))
    {

        <form method="post">

            <button type="submit" asp-asp-page-handler="Submit"> Dodaj </button>
        </form>

    }
    @using (Html.BeginForm("funkcja22", "App", FormMethod.Post))
    {

        <form method="post">

            <button type="submit" asp-asp-page-handler="Submit">Zmień</button>
        </form>

    }
    *@
    <p>Dodawanie produktu:</p>
    @using (Html.BeginForm("AddProduct", "App", FormMethod.Post))
    {

        <form method="post">
            <input placeholder="SKU" type="text" name="SKU" required>
            <input placeholder="Nazwa produktu"  type="text" name="Nazwa_produktu" required>
            <input placeholder="Parametry"  type="text" name="Parametry" required>
            <input placeholder="ID kartonu" type="number" name="ID_kartonu" required>
            <input placeholder="Stan magazynowy" type="number" name="Stan_magazynowy" required>

            <button type="submit" asp-asp-page-handler="Submit"> Dodaj</button>
        </form>

    }

    <table style="width:100%">
        <tr>
            <th>SKU</th>
            <th>Nazwa produktu</th>
            <th>Parametry</th>
            <th>Wysokosc</th>
            <th>Szerokosc</th>
            <th>Glebokosc</th>
            <th>Stan magazynowy</th>
            <th>Zmien ilosc</th>


        </tr>
        <tr>
            @if (products != null)
            {
                foreach (var item in products)
                {
                <tr>
                    <td>@item.SKU </td>
                    <td>@item.Nazwa_produktu </td>
                    <td>@item.Parametry </td>
                    <td>@item.Karton.Wysokosc </td>
                    <td>@item.Karton.Szerokosc </td>
                    <td>@item.Karton.Glebokosc </td>
                    <td>@item.Stan_magazynowy </td>
                
                <td>
                        @using (Html.BeginForm("ChangeQuantityProd", "App", FormMethod.Post))
                        {

                        <form method="post">
                            <input style="visibility: collapse;" type="text" name="SKU" value="@item.SKU" required>

                                <input style="border: 1px solid black; padding: 5px;"  id="textField" type="number" name="Ilosc" required>

                            <button type="submit" asp-asp-page-handler="Submit">Zmień</button>
                        </form>

                        }
                </td>
                </tr>
                }
            }



        </tr>
    </table>
</body>

<!-- Stopka strony -->
<footer>
    <p>Strona wykonana przy użyciu technologii Razor Pages</p>
</footer>

</html>












@*@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using WarehouseManagmentWEB.Controllers
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.ProductsModel
@{
    ViewBag.Title = "MainPage";
    Layout = "_Layout_Items";

    var products = Products.GetProducts();
    //bool avaliable = false;

    var cartons = Cartons.GetCartons();

    /*string Filtr(bool avaliable = false)
        {
        if(avaliable) products =Products.GetAvailableProducts();
        else products = Products.GetProducts();

    return string.Empty;
    }*/
}


<html>
<head>
    <title>MotorcycleScreens Menager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        a {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        li {
            padding: 10px;
        }

        body {
            background-color: #D0D9F6;
            background-size: cover;
            margin: 0;
            font-size: 20px;
            color: black;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100px;
            margin: 20px;
        }

        td, th {
            border: 1px solid #4E73DF;
            text-align: center;
            margin: 20px;
        }

        tr:nth-child(even) {
            background-color: #839DE9;
        }
    </style>

</head>
<body>

    @using (Html.BeginForm("Wsz", "App", FormMethod.Post))
    {

        <form method="post">

            <button type="submit" asp-asp-page-handler="Submit">Dodaj </button>
        </form>

    }
    @using (Html.BeginForm("funkcja22", "App", FormMethod.Post))
    {

        <form method="post">

            <button type="submit" asp-asp-page-handler="Submit">Zmień</button>
        </form>

    }
    <p>Dodawanie produktu:</p>
    @using (Html.BeginForm("AddProduct", "App", FormMethod.Post))
    {

        <form method="post">
            <input type="text" name="SKU" required>
            <input type="text" name="Nazwa_produktu" required>
            <input type="number" name="ID_kartonu" required>
            <input type="number" name="Stan_magazynowy" required>

            <button type="submit" asp-asp-page-handler="Submit">Dodaj produkt</button>
        </form>

    }

    <table style="width:65%">
        <tr>
            <th>SKU</th>
            <th>Nazwa_produktu</th>
            <th>Wysokosc</th>
            <th>Szerokosc</th>
            <th>Glebokosc</th>


        </tr>
        <tr>
            @if (products != null)
            {
                foreach (var item in products)
                {
                <tr>
                    <td>@item.SKU </td>
                    <td>@item.Nazwa_produktu </td>
                    <td>@item.Karton.Wysokosc </td>
                    <td>@item.Karton.Szerokosc </td>
                    <td>@item.Karton.Glebokosc </td>
                </tr>

                }
            }



        </tr>
    </table>
</body>
</html>*@