@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using WarehouseManagmentWEB.Controllers
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.ProductsModel
@{
    ViewBag.Title = "MainPage";
    Layout = "_Layout_Items";

    var products = Products.GetProducts();
    //bool avaliable = false;

    var cartons = Cartons.GetCartons();

    /*string Filtr(bool avaliable = false)
        {
        if(avaliable) products =Products.GetAvailableProducts();
        else products = Products.GetProducts();

    return string.Empty;
    }*/
}


<html>
<head>
    <title>MotorcycleScreens Menager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        a {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        li {
            padding: 10px;
        }

        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
            margin: 0;
            font-size: 20px;
            color: black;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100px;
            margin: 20px;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            margin: 20px;
        }

        tr:nth-child(even) {
            background-color: darkorange;
        }
    </style>

</head>
<body>

    @using (Html.BeginForm("Wsz", "App", FormMethod.Post))
    {

        <form method="post">

            <button type="submit" asp-asp-page-handler="Submit">Dodaj </button>
        </form>

    }
    @using (Html.BeginForm("funkcja22", "App", FormMethod.Post))
    {

        <form method="post">

            <button type="submit" asp-asp-page-handler="Submit">Zmień</button>
        </form>

    }
    <p>Dodawanie produktu:</p>
    @using (Html.BeginForm("AddProduct", "App", FormMethod.Post))
    {

        <form method="post">
            <input type="text" name="SKU" required>
            <input type="text" name="Nazwa_produktu" required>
            <input type="number" name="ID_kartonu" required>
            <input type="number" name="Stan_magazynowy" required>

            <button type="submit" asp-asp-page-handler="Submit">Dodaj produkt</button>
        </form>

    }

    <table style="width:65%">
        <tr>
            <th>SKU</th>
            <th>Nazwa_produktu</th>
            <th>Wysokosc</th>
            <th>Szerokosc</th>
            <th>Glebokosc</th>


        </tr>
        <tr>
            @if (products != null)
            {
                foreach (var item in products)
                {
                <tr>
                    <td>@item.SKU </td>
                    <td>@item.Nazwa_produktu </td>
                    <td>@item.Karton.Wysokosc </td>
                    <td>@item.Karton.Szerokosc </td>
                    <td>@item.Karton.Glebokosc </td>
                </tr>

                }
            }



        </tr>
    </table>
</body>
</html>