@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using WarehouseManagmentWEB.Controllers
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;

@model WarehouseManagmentWEB.Pages.Shared.ProductsModel
@{
    ViewBag.Title = "MainPage";
    Layout = "_Layout_Items";

    var products = Products.GetProducts();
}


<html>
<head>
    <title>MotorcycleScreens Menager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        a {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        li {
            padding: 10px;
        }

        body {
            background-image: url('/images/motorcycle.jpg');
            margin: 0;
            font-size: 30px;
            color: black;
        }

    </style>
</head>
<body>
    @if (products != null)
    {
        foreach (var item in products)
        {
                    <li>@item.SKU @item.Nazwa_produktu @item.ID_kartonu @item.Stan_magazynowy @item.Potrzebna_ilosc</li>

        }
    }
</body>
</html>