@page
@using WarehouseManagmentWEB.Tools
@using WarehouseManagmentWEB.Tools.Api;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@functions{
    public string GetToken(bool fromClick = false)
    {
        if(fromClick)
            Authentication.GetToken();

        return string.Empty;
    }
}

<div class="text-center">
    @using (Html.BeginForm("Another", "Diffrent", FormMethod.Post, new { id ="frm"}))
    {
       @Html.LabelFor(model => model.UserName);
       @Html.EditorFor(model => model.UserName);
       <br/>
       @Html.LabelFor(model => model.Password);
       @Html.EditorFor(model => model.Password);

        <button onclick="Send()">Login</button>
    }
    <br>
   
    
</div>
@section scripts{
<script>
    function Send(){
        $(#'PobieranieTokena').html('@GetToken(true)');
    }
</script>
}

